build/ALL_BUILD.vcxproj
build/DOMK.vcxproj
build/ZERO_CHECK.vcxproj
build/.cmake/api/v1/reply/cmakeFiles-v1-7d8e357b461df3afd10f.json
build/.cmake/api/v1/reply/cmakeFiles-v1-d6d59ff6989362fe3747.json
build/.cmake/api/v1/reply/codemodel-v2-48630d7ed062e3917be5.json
build/.cmake/api/v1/reply/codemodel-v2-a8bf9ba236268f232ecb.json
build/.cmake/api/v1/reply/index-2025-12-19T10-10-25-0821.json
build/.cmake/api/v1/reply/index-2025-12-19T10-26-03-0201.json
build/.cmake/api/v1/reply/target-DOMK-Debug-54945487fd66b0916090.json
build/.cmake/api/v1/reply/target-DOMK-Debug-ac509bd1c17d5b57f86c.json
build/.cmake/api/v1/reply/target-DOMK-MinSizeRel-1d4bd9b99e539384e6c2.json
build/.cmake/api/v1/reply/target-DOMK-MinSizeRel-db7cdaa45aebc3440b05.json
build/.cmake/api/v1/reply/target-DOMK-Release-c45d7ed6edc5c9215232.json
build/.cmake/api/v1/reply/target-DOMK-Release-c72d6fc7081b6406febd.json
build/.cmake/api/v1/reply/target-DOMK-RelWithDebInfo-0ae6d41eb22764a65592.json
build/.cmake/api/v1/reply/target-DOMK-RelWithDebInfo-d12c94ebc8d398147c90.json
build/CMakeFiles/generate.stamp.depend
build/DOMK.dir/Debug/application.obj
build/DOMK.dir/Debug/DOMK.ilk
build/DOMK.dir/Debug/main.obj
build/DOMK.dir/Debug/vc143.pdb
build/DOMK.dir/Debug/DOMK.tlog/CL.command.1.tlog
build/DOMK.dir/Debug/DOMK.tlog/CustomBuild.read.1.tlog
build/DOMK.dir/Debug/DOMK.tlog/link.read.1.tlog
build/DOMK.dir/Debug/DOMK.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
build/DOMK.dir/Debug/DOMK_MD.tlog/CL.command.1.tlog
build/Debug/DOMK.exe
build/Debug/DOMK.pdb
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
